/* Form */
form {
  display: flex;
  width: 400px;
  margin: 0 auto;
  gap: 5px;
}

form input {
  border: none;
  border-radius: 10px;
  flex: 3;
  padding: 10px;
}

form input::placeholder {
  color: var(--subtle-gray);
}

form button {
  background-color: greenyellow;
  border: none;
  border-radius: 10px;
  padding: 15px;
  flex: 1;
}

/* Call to Action */
#call-to-action {
  height: 300px;
  display: flex;
  justify-content: center;
}

#call-to-action .container {
  margin: 0 10%;
  max-width: 800px;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#call-to-action h2 {
  flex: 1;
}