/* Form */
form {
  display: flex;
  max-width: 500px;
  gap: 5px;
  flex: 1;
}

form input {
  border: none;
  border-radius: 10px;
  flex: 3;
  padding: 10px;
}

form input::placeholder {
  color: var(--subtle-gray);
}

form button {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 10px;
  padding: 15px;
  flex: 1;
}

/* Call to Action */
#call-to-action {
  background-color: var(--dark-background);
  height: 300px;
  display: flex;
  justify-content: center;
}

#call-to-action .container {
  margin: 0 10%;
  flex: 1;
  display: flex;
  align-items: center;
  max-width: 1200px;
  gap: 15px;
}

#call-to-action h2 {
  color: white;
  font-family: var(--header-font);
  font-weight: 300;
  font-size: 36px;
  flex: 1;
}

#call-to-action .wrapper {
  flex: 1;
  display: flex;
  justify-content: end;
}